<div class="row">
  <div class="col-md-4">
    <p class="h4">Check Price</p>
    <p>{{langService.getString('check_price_text', selectedCurrencyInfo.coinName ?
      selectedCurrencyInfo.coinName : 'selected cryptocurrency', langService.getString(selectedCurrencyType),
      priceToCheck ? priceToCheck + ' €' : langService.getString('selected_price'))}}</p></div>
  <div class="col-md-8">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="form-group">
          <select id="currency" class="form-control form-control-lg"
                  (change)="currencySelected($event.target.value)" name="currency">
            <option [value]="currency.symbol" *ngFor="let currency of currencies">{{currency.coinName}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select id="currency_type" class="form-control form-control-lg" [(ngModel)]="selectedCurrencyType"
                  name="currency_type">
            <option value="greater">{{langService.getString('greater') | capitalize}}</option>
            <option value="lower">{{langService.getString('lower') | capitalize}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group" style="margin-bottom: 1rem">
          <input type="number" min="0" step="0.0001" id="price_to_check" class="form-control" name="price_to_check"
                 placeholder="{{langService.getString('price')}}"
                 [(ngModel)]="priceToCheck">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary btn-block" (click)="checkPrice()">{{langService.getString('check')}}</button>
      </div>
      <div class="col md-9">
        <span *ngIf="showResult && !showNOResult && !isLoading">{{langService.getString('check_price_result', result.times)}} {{result.last_time | amLocale:locale | amDateFormat:'llll'}}</span>
        <span *ngIf="showResult && showNOResult && !isLoading">{{langService.getString('check_price_no_result')}}</span>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      </div>


    </div>

  </div>
