<div class="row">
  <div class="col-sm-12">

    <div class="list-group-item mt-4">
      <div class="row align-items-end">
        <div class="col-sm-12">
          <h5 class="list-group-item-heading">{{langService.getString('settings')}}</h5>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="wallet_type"><h6>{{langService.getString('wallet_type_label')}}</h6></label>
            <select id="wallet_type" class="form-control" name="wallet_type" [ngModel]="virtualWallet" (change)="onVirtualWalletSettingChange($event.target.value)">
              <option value="y">{{_.capitalize(langService.getString('virtual_wallet'))}}</option>
              <option value="n">{{_.capitalize(langService.getString('real_wallet'))}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12">
          <button class="btn btn-success pull-right" [disabled]="settingsLoading || !userValid" (click)="saveSettings()"><i *ngIf="settingsLoading" class="fa fa-spinner fa-spin pull-right"></i> {{_.capitalize(langService.getString('save'))}}</button>
        </div>
      </div>
    </div>

    <div class="list-group-item mt-4">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="list-group-item-heading">{{langService.getString('disconnect_wallet')}}</h5>
          <p class="list-group-item-text">
            {{langService.getString('disconnect_wallet_label')}}
          </p>
          <div class="form-group">
            <select id="wallet" class="form-control form-control-lg" name="wallet" [ngModel]="walletCurrencyToDisconnect" #wallet>
              <option value>{{langService.getString('select_wallet_label')}}</option>
              <option *ngIf="authService.isCoinbaseWalletAuthorized('BTC')" value="BTC">{{langService.getString('wallet_with_currency', 'BTC')}}</option>
              <option *ngIf="authService.isCoinbaseWalletAuthorized('ETH')" value="ETH">{{langService.getString('wallet_with_currency', 'ETH')}}</option>
              <option *ngIf="authService.isCoinbaseWalletAuthorized('LTC')" value="LTC">{{langService.getString('wallet_with_currency', 'LTC')}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12">
          <button class="btn btn-danger pull-right" [disabled]="wallet.value.length == 0 || disconnectWalletLoading" (click)="askWalletDeletingConfirm(deleteWalletModal, wallet.value)"><i *ngIf="disconnectWalletLoading" class="fa fa-spinner fa-spin pull-right"></i> {{langService.getString('disconnect_wallet_button')}}</button>
        </div>
      </div>
    </div>

    <div class="list-group-item mt-4">
      <div class="row align-items-center">
        <div class="col-sm-9">
          <h5 class="list-group-item-heading">{{langService.getString('delete_account')}}</h5>
          <p class="list-group-item-text">
            {{langService.getString('delete_account_label')}}
          </p>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-danger pull-right" (click)="askAccountDeletingConfirm(deleteAccountModal)">{{langService.getString('delete_account_button')}}</button>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #deleteAccountModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Account</h4>
    <button type="button" class="close pointer" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{langService.getString('delete_account_modal_msg')}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="d()">{{_.capitalize(langService.getString('close'))}}</button>
    <button type="button" class="btn btn-danger" (click)="c()">{{_.capitalize(langService.getString('delete'))}}</button>
  </div>
</ng-template>

<ng-template #deleteWalletModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{langService.getString('disconnect_wallet')}}</h4>
    <button type="button" class="close pointer" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{langService.getString('disconnect_wallet_modal_msg', walletCurrencyToDisconnect)}}</p>
    <p>{{langService.getString('disconnect_wallet_modal_msg_all_rules')}}</p>
    <p>{{langService.getString('disconnect_wallet_modal_msg_all_actions')}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="d()">{{_.capitalize(langService.getString('close'))}}</button>
    <button type="button" class="btn btn-danger" (click)="c()">{{_.capitalize(langService.getString('disconnect'))}}</button>
  </div>
</ng-template>

