<div class="row align-items-center">
  <div class="col"></div>
  <div class="col my-5 text-center">
    <img src="assets/logo_top.png" alt="NostradamusBot" style="width: 180px">
    <div class="card my-5">
      <div class="card-body text-center">
        <a href="{{coinbaseAuthCodeRequestURL}}" class="btn btn-primary btn-block"><i class="fa fa-sign-in mr-2"></i>SignIn with Coinbase</a>
        <!--<div class="form-group">-->
          <!--<div class="input-group">-->
        <!--<span class="input-group-addon">-->
            <!--<i class="fa fa-envelope"></i>-->
        <!--</span>-->
            <!--<input type="text" class="form-control" placeholder="scope"  [(ngModel)]="scope">-->
          <!--</div>-->
        <!--</div>-->
        <br/><br/>
        <h5>Or use your data :</h5>
        <div class="form-group">
          <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
        </span>
            <input type="email" class="form-control" placeholder="Email"  [(ngModel)]="user.email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-key"></i>
        </span>
            <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="user.password">
          </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="signIn()"><i class="fa fa-sign-in mr-2"></i>SignIn</button>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
