<div class="row">
  <div class="col-sm-12 col-md-4 mt-2">
    <app-currency-status [currencyCode]="'BTC'"></app-currency-status>
  </div>
  <div class="col-sm-12 col-md-4 mt-2">
    <app-currency-status [currencyCode]="'ETH'"></app-currency-status>
  </div>
  <div class="col-sm-12 col-md-4 mt-2">
    <app-currency-status [currencyCode]="'LTC'"></app-currency-status>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-12">
    <app-wallet [currencyCode]="'BTC'"></app-wallet>
  </div>
  <div class="col-sm-12">
    <app-wallet [currencyCode]="'ETH'"></app-wallet>
  </div>
  <div class="col-sm-12">
    <app-wallet [currencyCode]="'LTC'"></app-wallet>
  </div>
</div>
