<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="showNavbar">
  <img class="navbar-brand" src="assets/logo_top.png" alt="NostradamusBot" (click)="goToHome()" style="width: 170px">
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mx-auto" *ngIf="authService.isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" role="presentation"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/dashboard"
           (click)="toggleMenu()">
          {{langService.getString('dashboard') | capitalize}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation"
           routerLinkActive="active"
           routerLink="/rules"
           (click)="toggleMenu()">
          {{langService.getString('rules') | capitalize}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/actions"
           (click)="toggleMenu()">
          {{langService.getString('actions') | capitalize}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/fees"
           (click)="toggleMenu()">
          {{langService.getString('fees') | capitalize}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           routerLink="/settings"
           (click)="toggleMenu()">
          {{langService.getString('settings') | capitalize}}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="authService.isAuthenticated()">

      <li class="nav-item">
        <a class="nav-link pointer" (click)="signOut()">{{langService.getString('signout') | capitalize}}</a>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" [hidden]="!isCollapsed"
          aria-controls="appNavigation" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation"
          (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div *ngIf="showVirtualWalletAlert" class="alert alert-warning fade show" role="alert"><i class="fa fa-warning"></i> {{langService.getString('virtual_wallet_alert')}}
  <a routerLink="/settings">{{langService.getString('virtual_wallet_alert_link')}}</a></div>

