<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Name (optional)</label>
            <input type="text" id="name" class="form-control" ngModel="{{rule.name}}" name="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="wallet">Wallet</label>
            <select id="wallet" class="form-control" name="wallet" required ngModel="{{rule.wallet.currency}}">
              <option value>Choose a Wallet</option>
              <option value="BTC">BTC Wallet</option>
              <option value="ETH">ETH Wallet</option>
              <option value="LTC">LTC Wallet</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="action">Action</label>
            <select id="action" class="form-control" name="action" ngModel="{{rule.action}}" required>
              <option value>Choose an Action</option>
              <option value="buy">Buy</option>
              <option value="sell">Sell</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" id="price" class="form-control" ngModel="{{rule.price}}" name="price" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="var_action">Variation</label>
            <select id="var_action" class="form-control" name="var_action" required ngModel="{{rule.var_action}}">
              <option value>Choose a Variation</option>
              <option value="up">Up</option>
              <option value="down">Down</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="var_perc">Percentage</label>
            <input type="text" id="var_perc" class="form-control" ngModel="{{rule.var_perc}}" name="var_perc" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="auto">Auto</label>
            <select id="auto" class="form-control" name="auto" required ngModel="{{rule.auto}}">
              <option value>Choose</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        </div>
      </div>



      <button [disabled]="isLoading" class="btn btn-primary pull-right" type="submit" ><span>{{editMode ? 'Save' : 'Create'}}</span> <i *ngIf="isLoading" class="fa fa-spinner fa-spin pull-right"></i></button>
      <button [disabled]="isLoading" class="btn btn-info" type="reset" (click)="form.reset()">Reset</button>
    </form>
  </div>
</div>
