<div class="row" *ngIf="rule != undefined">
  <div class="col-md-12">
    <h4>{{rule.name}}
      <button [disabled]="isLoading" class="btn btn-danger pull-right" (click)="deleteRule()">Delete</button>
      <button class="btn btn-primary pull-right mr-2" (click)="openRuleEditor()">Edit</button>

    </h4>
    <hr>
    Wallet : {{rule.wallet.name}} <br>
    Action : {{rule.action}} <br>
    Price : {{rule.price}} <br>
    Variation : {{rule.var_action}} <br>
    Percentage : {{rule.var_perc}} %<br>
    Auto : {{rule.auto}} <br>

  </div>
</div>
<div class="row" *ngIf="rule === undefined">
  <div class="col-md-12">
    no rule selected
  </div>
</div>


