RewriteEngine On
Options -Multiviews
Options -Indexes

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,QSA]

#USERS#
RewriteRule (\W|^)users/register(\W|$)  index.php?area=users&request=register [L]
RewriteRule (\W|^)users/login(\W|$)  index.php?area=users&request=login [L]
RewriteRule (\W|^)users/edit(\W|$)  index.php?area=users&request=edit [L]
RewriteRule (\W|^)users/delete(\W|$)  index.php?area=users&request=delete [L]
RewriteRule (\W|^)users/check(\W|$)  index.php?area=users&request=check [L]
RewriteRule (\W|^)users/login(\W|$)  index.php?area=users&request=login [L]
RewriteRule (\W|^)users/delete(\W|$)  index.php?area=users&request=delete [L]
RewriteRule (\W|^)users/settings(\W|$)  index.php?area=users&request=settings [L]

#WALLETS#
RewriteRule (\W|^)wallets/create(\W|$)  index.php?area=wallets&request=create [L]
RewriteRule (\W|^)wallets/balance(\W|$)  index.php?area=wallets&request=balance [L]
RewriteRule (\W|^)wallets/delete(\W|$)  index.php?area=wallets&request=delete [L]
RewriteRule (\W|^)wallets/get(\W|$)  index.php?area=wallets&request=get [L]

#PRICES#
RewriteRule (\W|^)prices/history(\W|$)  index.php?area=prices&request=history [L]
RewriteRule (\W|^)prices/ETH(\W|$)  index.php?area=prices&request=ETH [L]
RewriteRule (\W|^)prices/BTC(\W|$)  index.php?area=prices&request=BTC [L]
RewriteRule (\W|^)prices/LTC(\W|$)  index.php?area=prices&request=LTC [L]

#RULES#
RewriteRule (\W|^)rules/create(\W|$)  index.php?area=rules&request=create [L]
RewriteRule (\W|^)rules/edit(\W|$)  index.php?area=rules&request=edit [L]
RewriteRule (\W|^)rules/delete(\W|$)  index.php?area=rules&request=delete [L]
RewriteRule (\W|^)rules/get(\W|$)  index.php?area=rules&request=get [L]
RewriteRule (\W|^)rules/archive(\W|$)  index.php?area=rules&request=archive [L]
RewriteRule (\W|^)rules/toggle(\W|$)  index.php?area=rules&request=toggle [L]

#ACTIONS#
RewriteRule (\W|^)actions/search(\W|$)  index.php?area=actions&request=search [L]
RewriteRule (\W|^)actions/get(\W|$)  index.php?area=actions&request=get [L]

#MINERS#
RewriteRule (\W|^)miners/state(\W|$)  index.php?area=miners&request=state [L]
